# electron_mirror="https://registry.npmmirror.com/electron/"
# ELECTRON_CUSTOM_DIR="{{ version }}"
ELECTRON_MIRROR="https://npmmirror.com/mirrors/electron/"
ELECTRON_CUSTOM_DIR="{{ version }}"

# electron_mirror=https://registry.npmjs.org/electron

